<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btb.dao.MarketHistoryMapper">
	<select id="getMaxTimeId" parameterType="com.btb.entity.Markethistory" resultType="long"> 
		SELECT MAX(timeId) from Markethistory where platformid = #{platformid} and moneypair = #{moneypair}
	</select>
	
	
	<!-- 
	second: 传入秒, 比如1分:60秒, 1小时:3600秒
	1分,3分,5分,10分,15分,30分,1小时,2小时,4小时,6小时,12小时,1天,3天,1周,1月 -->
	<select id="">
		select 
		ceil(timeid/${second})*${second} as id
		,count(timeid)
		from markethistory GROUP BY id order by timeid desc
	</select>
	
	<select id="selectPlateformid" resultType="string">
		select DISTINCT platformid from thirdpartysupportmoney
	</select>
	
	<update id="createtable_markethistory_1min" parameterType="string">
		CREATE TABLE `${value}_markethistory_1min` (
		  `id` varchar(255) NOT NULL,
		  `moneypair` varchar(255) NOT NULL,
		  `timeid` bigint(20) NOT NULL,
		  `buymoneytype` varchar(255) DEFAULT NULL,
		  `moneytype` varchar(255) DEFAULT NULL,
		  `open` decimal(28,8) DEFAULT NULL,
		  `openrmb` decimal(28,8) DEFAULT NULL,
		  `close` decimal(28,8) DEFAULT NULL,
		  `closermb` decimal(28,8) DEFAULT NULL,
		  `low` decimal(28,8) DEFAULT NULL,
		  `lowrmb` decimal(28,8) DEFAULT NULL,
		  `high` decimal(28,8) DEFAULT NULL,
		  `highrmb` decimal(28,8) DEFAULT NULL,
		  `vol` decimal(28,8) DEFAULT NULL,
		  `volrmb` decimal(28,8) DEFAULT NULL,
		  `count` decimal(28,8) DEFAULT NULL,
		  `amount` decimal(28,8) DEFAULT NULL,
		  `time_min` varchar(255) DEFAULT '',
		  `time_hour` varchar(255) DEFAULT NULL,
		  `time_day` varchar(255) DEFAULT NULL,
		  `time_week` varchar(255) DEFAULT NULL,
		  `time_month` varchar(255) DEFAULT NULL,
		  PRIMARY KEY (`id`,`timeid`)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8
	</update>
	
</mapper>